<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016628601713-s2l46b4g9s2gtpfaik7ohfbcrlvj03o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016628601713-s2l46b4g9s2gtpfaik7ohfbcrlvj03o0</string>
	<key>API_KEY</key>
	<string>AIzaSyBrYcI1w5uxL2Qw3Ro57iqEknzy6tZXx7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1016628601713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justpark.it.app</string>
	<key>PROJECT_ID</key>
	<string>justparkit-93e4a</string>
	<key>STORAGE_BUCKET</key>
	<string>justparkit-93e4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016628601713:ios:bec591b167227dc2db8cd0</string>
</dict>
</plist>